<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="honeywell.com.smartplayer" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- zxing -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.splash"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <!--<activity-->
            <!--android:name=".ui.DetailsDiscussActivity"-->
            <!--android:hardwareAccelerated="false"-->
            <!--android:label="@string/app_name"-->
            <!--android:launchMode="singleTask"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateAlwaysHidden" >-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name=".ui.SearchActivity"-->
            <!--android:hardwareAccelerated="false"-->
            <!--android:label="@string/app_name"-->
            <!--android:launchMode="singleTask"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateVisible" >-->
        <!--</activity>-->
        <activity
            android:name=".ui.UserCenterActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.AboutActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <!--<activity-->
            <!--android:name=".ui.UserLoginUidActivity"-->
            <!--android:launchMode="singleTask"-->
            <!--android:screenOrientation="portrait" >-->
        <!--</activity>-->

        <!-- Don't forgot InitActivity -->
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name="honeywell.com.smartplayer.demo.VitamioListActivity" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name="honeywell.com.smartplayer.demo.MediaPlayerDemo"
            android:label="Media/MediaPlayer" >
        </activity>
        <activity
            android:name="honeywell.com.smartplayer.demo.VideoViewDemo"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:label="Media/VideoView" >
        </activity>
        <activity
            android:name="honeywell.com.smartplayer.demo.MediaPlayerDemo_Video"
            android:label="Media/MediaPlayer" >
        </activity>
        <activity
            android:name="honeywell.com.smartplayer.demo.MediaPlayerDemo_setSurface"
            android:label="Media/MediaPlayer" >
        </activity>
        <activity
            android:name="honeywell.com.smartplayer.demo.MediaPlayerDemo_Audio"
            android:label="Media/MediaPlayer" >
        </activity>
        <activity
            android:name="honeywell.com.smartplayer.demo.MediaMetadataRetrieverDemo"
            android:label="Media/MediaMetadata" >
        </activity>
        <activity
            android:name="honeywell.com.smartplayer.demo.MediaPlayerSubtitle"
            android:label="@string/title_activity_media_player_subtitle" >
        </activity>
        <activity
            android:name="honeywell.com.smartplayer.demo.VideoViewSubtitle"
            android:label="@string/title_activity_video_view_subtitle" >
        </activity>
        <activity
            android:name="honeywell.com.smartplayer.demo.VideoSubtitleList"
            android:label="@string/title_activity_video_subtitle_list" >
        </activity>
        <activity
            android:name="honeywell.com.smartplayer.demo.VideoViewBuffer"
            android:label="@string/title_activity_video_buffer" >
        </activity>
    </application>

</manifest>
